@import "colors";
@import "vars";

.post-list__container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;

  @media screen and (min-width: $medium) {
    padding-left: 50px;
  }
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  margin: 9vh 0vh;

  &:first-child {
    @media screen and (max-width: $medium - 1) {
      margin-top: 0vh;
    }
  }
}

.post__title {
  margin-top: 0;
  font-weight: 500;

  a {
    color: var(--link-color);
    text-decoration: none;
  }
}

.post__date {
  color: var(--nav-passive-color);
  font-size: 0.8rem;
  margin-bottom: 1.4rem;
}
